.container {
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-size: 14px;
    color: var(--footer-text-color);
    margin: -10px 0;
}

/* Online/Offline status animation */
.status {
    margin-top: 60px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.online {
    color: rgb(0, 191, 0);
    animation: pulse-green 1.5s infinite alternate;
}

.offline {
    color: #f00;
    animation: pulse-red 0.5s infinite alternate;
}


@keyframes pulse-red {
    0% {
        text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    }

    100% {
        text-shadow: 0 0 20px rgba(255, 0, 0, 1);
    }
}


.heart {
    display: inline-block;
    animation: heartbeat 1.2s infinite ease-in-out;
}

p:last-child {
    margin-top: 6px;
    font-size: 19px;
  font-weight: 400;
}

/* Lub-dub ;-) */
@keyframes heartbeat {

    0%,
    30% {
        transform: scale(1);
    }

    35% {
        transform: scale(1.2);
    }

    45% {
        transform: scale(0.9);
    }

    55% {
        transform: scale(1.2);
    }

    65%,
    100% {
        transform: scale(1);
    }
}