.container {
    text-align: center;
}

p {
    font-size: 18px;
    color: var(--footer-text-color);

    .heart {
        display: inline-block;
        animation: heartbeat 1.2s infinite ease-in-out;
    }
}

/* Heartbeat animation */
@keyframes heartbeat {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.2);
        /* Enlarged size */
    }

    60% {
        transform: scale(0.8);
    }
}