.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;
    position: relative;

}




.hero {
    border: 1px dotted var(--hero-border-color);
    border-radius: 200px;
    max-width: 185px;
    animation: glowPulse 3s ease-in-out infinite;
    aspect-ratio: 1;
}

@keyframes glowPulse {
    0% {
        box-shadow: 0 0 30px 10px var(--hero-border-color);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 45px 15px var(--hero-border-color);
        transform: scale(1.02);
    }

    100% {
        box-shadow: 0 0 30px 10px var(--hero-border-color);
        transform: scale(1);
    }
}

.heroWrapper {
    position: relative;
    display: inline-block;
}

.heroWrapper::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border-radius: 50%;
    z-index: -1;
    animation: radialBreathing 4s ease-in-out infinite;
}

@keyframes radialBreathing {
    0% {
        background: radial-gradient(circle at center, var(--hero-border-color) 0%, transparent 60%);
    }

    50% {
        background: radial-gradient(circle at center, var(--hero-border-color) 0%, transparent 70%);
    }

    100% {
        background: radial-gradient(circle at center, var(--hero-border-color) 0%, transparent 60%);
    }
}

@media (width >=800px) {
    .hero {
        max-width: 350px;
        width: 350px;
    }

    .heroWrapper::before {
        top: -30px;
        left: -30px;
        right: -30px;
        bottom: -30px;
    }
}

@media (width >=1400px) {
    .hero {
        max-width: 400px;
        width: 400px;
    }

    .heroWrapper::before {
        top: -40px;
        left: -40px;
        right: -40px;
        bottom: -40px;
    }
}

span {
    display: flex;
    gap: 25px;
    justify-content: center;
}

span a {
    margin: 0;
}

span a img {
    width: 30px;
}

a {
    width: fit-content;
    align-self: center;
}

.ritzyLink {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.ritzyLink:hover {
    color: #a855f7;
    text-decoration: underline;
}

button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: 140px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    /* margin-top: -30px; */
}


.logoWrapper {
    cursor: pointer;
}

button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.452) 20%, rgba(255, 255, 255, 0) 60%);
    transform: rotate(30deg);
    animation: shine 2.5s infinite;
    z-index: 1;
}

button span {
    position: relative;
    z-index: 2;
}

button:hover {
    transform: scale(1.02);
}

button:active {
    transform: scale(0.95);
    background-color: var(--btn-color-dark);
}

@keyframes shine {
    0% {
        transform: translate(-150%, -150%) rotate(30deg);
    }

    100% {
        transform: translate(150%, 150%) rotate(30deg);
    }
}





/* Typewriter ka css */

.typewriter span {
    border-right: 2px solid var(--hero-border-color);
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: blink-caret 0.8s step-end infinite;
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}


.typewriterContainer {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.typewriter {
    margin: 0;
}

.typewriter span {
    margin-top: 20px;
    border-right: 2px solid var(--hero-border-color);
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: blink-caret 0.8s step-end infinite;
    min-height: 1.2em;
    min-width: 1ch;
}

@media (width <=700px) {
    .typewriterContainer {
        height: 48px;
    }
}

@media (width >=800px) {
    .typewriterContainer {
        height: 72px;
    }
}




.colorModeContainer {
    position: relative;
}

.colorMode:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(720deg);
    filter: none;
}

.themeButtonContainer {
    display: inline-block;
}

.colorMode {
    position: absolute;
    top: 0;
    right: 10px;
    width: 25px;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.themeTooltip {
    position: absolute;
    top: -45px;
    left: 85%;
    transform: translateX(-50%);
    background-color: #444;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    animation: fadeInOut 3s ease;
    white-space: nowrap;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }
    85%{
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}





.description {
    max-width: 40ch;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

.info h2 {
    font-size: 25px;
    text-align: left;
    margin-left: 51px;
    font-family: Arial, Helvetica, sans-serif;
}

.info p {
    /* margin-bottom: -30px; */
    padding: 40px;
}







/* Sub-Header Slide down */
.h3Slide {
    font-size: 18px;
    opacity: 0;
    position: relative;
    animation: slideDown 1.5s ease forwards;
}

.h3Slide:nth-of-type(1) {
    animation-delay: 0.3s;
}

.h3Slide:nth-of-type(2) {
    animation-delay: 0.6s;
}

.h3Slide:nth-of-type(3) {
    animation-delay: 0.9s;
}

.h3Slide:nth-of-type(4) {
    animation-delay: 1.2s;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}







/* logo rotation and tooltip */
.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    margin-top: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
}

.logo:hover {
    transform: scale(1.4) rotate(720deg);
    filter: none;
}

.logo:not(:hover) {
    filter: blur(1px);
}

.tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    white-space: nowrap;
    font-family: "Arial", serif;
}

.logo:hover+.tooltip {
    opacity: 1;
}






/* removing the extra blues */
/* -webkit-tap-highlight-color: transparent; */
/* very important */






/*-------------------------------------------------------------------------------------------------------------









/* Responsiveness */
@media (min-width: 360px) and (max-width: 799px) {
    .container {
        margin-top: 15px;
    }

    .colorMode {
        right: 20px;
    }

    .logo {
        filter: none;
        transform: none;
        animation: rotateAndScale 2.7s ease-out;
    }

    .logo:hover {
        transform: none;
    }

    .logo:not(:hover) {
        filter: none;
    }

    .colorMode:hover {
        transform: none;
    }

    .tooltip {
        display: none;
        opacity: 0;
    }

    .info h2 {
        text-align: center;
        font-size: 20px;
        margin-left: -148px;
    }

    @keyframes rotateAndScale {
        0% {
            transform: scale(0.2) rotate(0deg);
        }

        50% {
            transform: scale(0.6) rotate(720deg);
        }

        100% {
            transform: scale(1) rotate(360deg);
        }
    }

    button {
        margin-top: -10px;
        width: 110px;
        height: 45px;
        font-size: 15px;
    }
    
}



@media (width >=800px) {
    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .hero {
            max-width: 350px;
            width: 350px;
        }
    }

    .info h1 {
        font-size: 60px;
        padding: 0px;
    }


    .info p {
        padding-left: 50px;
    }
}




@media (width >=1400px) {
    .container {
        .hero {
            max-width: 400px;
            width: 400px;
        }
    }
}




@media (width <=700px) {
    .info p {
        display: none;
    }
    .info h1 {
        font-size: 36px;
    }

    .info h2 {
        text-align: center;
        font-size: 20px;
        margin-left: -148px;
    }

    button {
        margin-top: 0px;
        width: 110px;
        height: 45px;
        font-size: 15px;
    }

    .colorMode {
        width: 20px;
    }
    .themeTooltip{
        font-size: 8px;
        top: -30px;
        left: 90%;
    }
    
}



@media (width <=400px) {
    .container {
        margin-top: 15px;
    }

    .colorMode {
        right: 20px;
    }

    .logo {
        filter: none;
        transform: none;
        animation: rotateAndScale 1.5s ease-out;
    }

    .logo:hover {
        transform: none;
    }

    .logo:not(:hover) {
        filter: none;
    }

    .colorMode:hover {
        transform: none;
    }

    .tooltip {
        display: none;
        opacity: 0;
    }

    @keyframes rotateAndScale {
        0% {
            transform: scale(0.2) rotate(0deg);
        }

        50% {
            transform: scale(0.6) rotate(720deg);
        }

        100% {
            transform: scale(1) rotate(360deg);
        }
    }


}












