.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;
    position: relative;
}



.hero {
    border: 1px dotted var(--hero-border-color);
    border-radius: 250px;
    max-width: 200px;
    box-shadow: 0 0 30px 10px var(--hero-border-color);
}

span {
    display: flex;
    gap: 25px;
    justify-content: center;
}

span a {
    margin: 0;
}

span a img {
    width: 30px;
}

a {
    width: fit-content;
    align-self: center;
}

button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: 140px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    /* margin-top: 15px; */
}

button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.452) 20%, rgba(255, 255, 255, 0) 60%);
    transform: rotate(30deg);
    animation: shine 2.5s infinite;
    /* Faster duration here */
    z-index: 1;
}

button span {
    position: relative;
    z-index: 2;
}

button:hover {
    transform: scale(1.02);
}

button:active {
    transform: scale(0.95);
    background-color: var(--btn-color-dark);
}

@keyframes shine {
    0% {
        transform: translate(-150%, -150%) rotate(30deg);
    }

    100% {
        transform: translate(150%, 150%) rotate(30deg);
    }
}



.typewriter {
    overflow: hidden;
    border-right: .15em solid var(--hero-border-color);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 1.5s steps(40, end), blink-caret 0.4s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--hero-border-color);
    }
}

.colorModeContainer {
    position: relative;
}

.colorMode {
    position: absolute;
    right: 0px;
    width: 25px;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.colorMode:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(720deg);
    filter: none;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); */
}

.description {
    max-width: 40ch;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info h1{
    font-size: 40px;
    margin-bottom: 25px;
}
.info p{
    padding: 40px;

}


/* Sub-Header Slide down */
.h3Slide {
    opacity: 0;
    position: relative;
    animation: slideDown 1.5s ease forwards;
}

.h3Slide:nth-of-type(1) {
    animation-delay: 0.3s;
}

.h3Slide:nth-of-type(2) {
    animation-delay: 0.6s;
}

.h3Slide:nth-of-type(3) {
    animation-delay: 0.9s;
}

.h3Slide:nth-of-type(4) {
    animation-delay: 1.2s;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* logo position interchange */
.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    margin-top: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
}

.logo:hover {
    transform: scale(1.4) rotate(720deg);
    filter: none;
}

.logo:not(:hover) {
    filter: blur(1px);
}

.tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    white-space: nowrap;
    font-family: "Arial", serif;}

.logo:hover+.tooltip {
    opacity: 1;
}

/* Removing the extra blues */
/* -webkit-tap-highlight-color: transparent; */

/* Responsiveness */
@media (min-width: 380px) and (max-width: 799px) {
    .container{
        margin-top: 50px;
    }
    .colorMode{
        right: 20px;
    }
    .logo {
        filter: none;
        transform: none;
    }

    .logo:hover {
        transform: none;
    }

    .logo:not(:hover) {
        filter: none;
    }
    .colorMode:hover{
        transform:none;
    }
    .tooltip {
        display: none;
        opacity: 0;
     }

}

@media (width >=800px) {
    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .hero {
            max-width: 350px;
            width: 350px;
        }
    }
    .info h1{
        font-size: 60px;
        padding: 0px;
    }
    .info p{
        padding-left: 50px;
    }
}

@media (width >=1400px) {
    .container {
        .hero {
            max-width: 400px;
            width: 400px;
        }
    }
}
@media (width <=390px) {
    .container {
        margin-top: 80px;
    }
    .colorMode {
        right: 20px;
    }
}
